<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= @commit_sha %> - EaglercraftMC</title>
    <link rel="icon" type="image/x-icon" href="https://assets.eagler-empire.com/eagler-empire-logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link href="https://cloakassets.quartinal.com/css/eaglercraftmc-nav.css" class="theme" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>

    <script>
      function generateSessionId(length) {
          const charset = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'

          let result = ""

          for (let i = 0; i < length; i++) {
              const randomIndex = Math.floor(Math.random() * charset.length)
              result += charset.charAt(randomIndex)
          }

          return result
      }

      function getOS() {
          let osInfo = ["Unknown"]

          const userAgent = window.navigator.userAgent

          if (userAgent.match(/Windows/i)) {
              osInfo[0] = 'Windows'
          } else if (userAgent.match(/Macintosh|Mac OS X|macOS/i)) {
              osInfo[0] = 'Mac'
          } else if (userAgent.match(/Linux/i) && !userAgent.match(/CrOS/i)) {
              osInfo[0] = 'Linux'
          } else if (userAgent.match(/CrOS/i)) {
              osInfo[0] = 'ChromeOS'
          } else {
              osInfo[0] = 'Unknown'
          }

          return osInfo
      }

      window.onload = function() {
          const urlParams = new URLSearchParams(window.location.search)

          if (!urlParams.has('os')) {
              const osInfo = getOS()
              const sessionId = generateSessionId(32)
              const queryString = "os=" + encodeURIComponent(osInfo[0]) + "&session_id=" + encodeURIComponent(sessionId)
              window.location.href = window.location.pathname + "?" + queryString
          }
      }
    </script>
  </head>

  <body>
    <div class="header">
      <a href="/home"><h2><%= @commit_sha %></h2></a>

      <ul class="menu">
        <li><img src="https://assets.eagler-empire.com/eagler-empire-logo.png" alt="EagleSMP Logo"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/home">About</a></li>
        <li><a href="https://webclient.eagler-empire.com">Client</a></li>
        <li><a href="https://r.eagler-empire.com/discord">Discord</a></li>
        <li><a href="https://github.com/Quartinal/EaglercraftBackend">GitHub</a></li>
      </ul>

      <img src="https://cloakassets.quartinal.com/svg/lightbulb.light.c9ce7cc3.svg" class="bulb" width="35px" height="35px">
    </div>

    <script>
      $(document).ready(function() {
        let isLightTheme = true

        $('.header img.bulb').on("click", function() {
          isLightTheme = !isLightTheme

          let themeCss = isLightTheme
            ? 'https://cloakassets.quartinal.com/css/eaglercraftmc-nav-light.css'
            : 'https://cloakassets.quartinal.com/css/eaglercraftmc-nav.css'

          let imageSource = isLightTheme
            ? 'https://cloakassets.quartinal.com/svg/lightbulb.dark.e2c5daa8.svg'
            : 'https://cloakassets.quartinal.com/svg/lightbulb.light.c9ce7cc3.svg'

          $('.theme').attr('href', themeCss)
          $('.header img.bulb').attr('src', imageSource)
        })
      })
    </script>
  </body>
</html>
